:root {
    --san-red: #EC0000;
    --san-gray-strong: #5b5a5b;
}


.san-background {
    background-color: var(--san-red);
    color: #fff;
}
.san-btn-prim {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: var(--san-red);
    border: 1px solid var(--san-red);
    border-radius: 48px;
    padding: 6px 18px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    cursor: pointer;

    &:hover, &:active {
        background-color: #FFFFFF;
        color: var(--san-red);
    }
}

.san-btn-sec {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--san-red);
    background-color: #FFFFFF;
    border: 1px solid var(--san-red);
    border-radius: 48px;
    padding: 6px 18px;
    width: 154px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    cursor: pointer;

    &:hover, &:active {
        background-color: var(--san-red);
        color: #fff;
    }
}

.san-btn-ter {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #868686;
    border: 1px solid #868686;
    border-radius: 48px;
    padding: 6px 18px;
    width: 154px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    cursor: pointer;

    &:hover, &:active {
        background-color: #FFFFFF;
        color: var(--san-red);
    }
}

.san-container-table{
    background-color: #f0f0f0;
    color: var(--san-gray-strong);
}

.san-container-table input[ type="text"] {
    border: none;
}
.san-font-bold{
    font-weight: bold;
}
.san-head-table{
    background-color: var(--san-gray-strong);
}
.border{
    border-block-start: none;
    border-bottom: none;
    border-left-color: var(--color-gray-400);
    border-right-color: var(--color-gray-400);
}
.san-border-white{
    border-color: #FFFFFF;
    border-width: 1px;
}
.input-add{
    border: solid 1px var(--san-red);
    border-radius: 5px;
}
