:root {
    --san-red: #ec0000;
}


.san-background {
    background-color: var(--san-red);
    color: #fff;
}
.san-btn-prim {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: var(--san-red);
    border: 1px solid var(--san-red);
    border-radius: 48px;
    padding: 6px 18px;
    width: 154px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
}